In [144]:
import pandas as pd
import sqlalchemy as sa
import pymssql
import json
import sys
import argparse
import os
from dotenv import load_dotenv

parser = argparse.ArgumentParser(description='App to move check the schema of a dataset')

parser.add_argument('-path', 
                    action="store", 
                    dest="path",
                    type=str,
                    default = 'scehma.json',
                    help="File path of schema.")
parser.add_argument('-db', 
                    action="store", 
                    dest="db",
                    type=str,
                    help="Datawarehouse db name.")
parser.add_argument('-schema', 
                    action="store", 
                    dest="schema",
                    type=str,
                    help="Datawarehouse schema name.")
parser.add_argument('-table', 
                    action="store", 
                    dest="table",
                    type=str,
                    help="Datawarehouse table name.")

with open(path, encoding='utf-8-sig') as json_file:
    data = json.load(json_file)

col_dict = data[r'col_names']

load_dotenv()

# Load Data Warehouse Credentials
host=os.getenv("host")
user=os.getenv("user")
password=os.getenv("password")
database=os.getenv("database")

In [115]:
conn = pymssql.connect(host=host, user=user, password=password, database=database)

In [130]:
db = 'Weights'
schema = 'dbo'
table = 'InspectionPriceVer'

sql = """SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE
FROM {}.INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = '{}'""".format(args.db, args.table)

In [135]:
df = pd.read_sql(sql, conn)
df

            TABLE_NAME     COLUMN_NAME DATA_TYPE
0   InspectionPriceVer    InspectionID       int
1   InspectionPriceVer         StoreID       int
2   InspectionPriceVer            Date   varchar
3   InspectionPriceVer  InspectionType   varchar
4   InspectionPriceVer        NumItems   varchar
5   InspectionPriceVer          Result   varchar
6   InspectionPriceVer    Reinspection   varchar
7   InspectionPriceVer      Inspector1   varchar
8   InspectionPriceVer      Inspector2   varchar
9   InspectionPriceVer      Inspector3   varchar
10  InspectionPriceVer         Remarks   varchar

In [137]:
for col in col_dict:
    test = df[df[r'COLUMN_NAME'] == col]
    test = test.reset_index(drop=True)

    if test.shape[0] == 0:
        sys.exit('Expected column {} from dataset schema is missing.'.format(col))
    else:
        print('{} column is present.'.format(col))
        
    data_type_expected = str(col_dict[col]['type'])
    data_type_actual = str(test[r'DATA_TYPE'][0])
    
    if data_type_expected in ('date', 'datetime'):
        random_test = 'SELECT TOP 10 PERCENT {} FROM {}.{}.{} order by newid()'.format(col, args.db, args.schema, args.table)
        random = pd.read_sql(random_test, conn)
        dt_format = col_dict[col][r'format']
        try:
            random[col] =  pd.to_datetime(random[col], format = )
            print('{} column has the correct date format({}).'.format(col, data_type_expected))
        except: # catch *all* exceptions
            e = repr(sys.exc_info())
            sys.exit('Formatting Error: {}'.format(e))
    elif data_type_actual != data_type_expected:
        sys.exit('Column {} is {}, expected {}.'.format(col, data_type_actual, data_type_expected))
    else:
        print('{} column is the correct type ({}).'.format(col, data_type_expected))

InspectionID column is present.
InspectionID column is the correct type (int).
StoreID column is present.
StoreID column is the correct type (int).
Date column is present.
Date column has the correct date format(date).
InspectionType column is present.
InspectionType column is the correct type (varchar).
NumItems column is present.
NumItems column is the correct type (varchar).
Result column is present.
Result column is the correct type (varchar).
Reinspection column is present.
Reinspection column is the correct type (varchar).
Inspector1 column is present.
Inspector1 column is the correct type (varchar).
Inspector2 column is present.
Inspector2 column is the correct type (varchar).
Inspector3 column is present.
Inspector3 column is the correct type (varchar).
Remarks column is present.
Remarks column is the correct type (varchar).